/* Header */
.woocommerce-store-notice, p.demo_store {
  z-index: 9998 !important;
}
.elementor-374 .elementor-element.elementor-element-ea38041 {
  z-index: 9999 !important;
}

/* .single-product .woocommerce-Price-currencySymbol:after, .post-type-archive-product .woocommerce-Price-currencySymbol:after {
  color: #333333;
  content: " incl.VAT";
  font-size: 80%;
} */

/* Product listing */
.ast-loop-product__link {
  display: block !important;
}

.ast-loop-product__link h2 {
  font-size: 1.625rem !important;
  font-weight: 500;
}

/* Product details */
.single-product .ast-woocommerce-container {
  margin: 0 auto;
  max-width: 1140px;
}

.single-product #primary {
  background-color: #F4F4F4;
  float: none;
}

.woocommerce div.product {
  padding: 20px;
  padding-top: 40px;
}

.elementor-element.elementor-element-6cf93f3b:not(.elementor-motion-effects-element-type-background), .elementor-element.elementor-element-6cf93f3b > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #F4F4F4;
}

.elementor-element.elementor-element-6cf93f3b {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-element.elementor-element-6cf93f3b > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-element.elementor-element-43c76d9d.elementor-column > .elementor-widget-wrap {
  justify-content: flex-end;
}

.elementor-element.elementor-element-2c3fd29c {
  width: auto;
  max-width: auto;
}

.elementor-element.elementor-element-26b87faf:not(.elementor-motion-effects-element-type-background), .elementor-element.elementor-element-26b87faf > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #F4F4F4;
}

.elementor-element.elementor-element-26b87faf {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-element.elementor-element-26b87faf > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-element.elementor-element-7e00125d > .elementor-element-populated {
  padding: 40px 23px 0px 0px;
}

.elementor-element.elementor-element-58f41fc4 > .elementor-element-populated {
  padding: 40px 0px 0px 23px;
}

.elementor-element.elementor-element-78a6ba83 > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}

.woocommerce .elementor-element.elementor-element-2aa45a0b .price {
  font-family: "Karla", Sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.elementor-element.elementor-element-2aa45a0b > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}

.woocommerce .elementor-element.elementor-element-495f7460 .woocommerce-product-details__short-description {
  font-family: "Karla", Sans-serif;
  font-size: 16px;
}

.elementor-element.elementor-element-495f7460 > .elementor-widget-container {
  margin: 0rem 0rem 1rem 0rem;
}

.elementor-element.elementor-element-15c94a73 .cart button, .elementor-element.elementor-element-15c94a73 .cart .button {
  transition: all 0.2s;
}

.elementor-element.elementor-element-15c94a73 .quantity .qty {
  transition: all 0.2s;
}

.elementor-element.elementor-element-7301e101:not(.elementor-motion-effects-element-type-background), .elementor-element.elementor-element-7301e101 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #F4F4F4;
}

.elementor-element.elementor-element-7301e101 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-element.elementor-element-7301e101 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-element.elementor-element-7a564589.elementor-wc-products ul.products {
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}

.elementor-element.elementor-element-7a564589.elementor-wc-products ul.products li.product span.onsale {
  display: block;
}

.elementor-element.elementor-element-24aab386 {
  padding: 70px 0px 70px 0px;
}

.elementor-element.elementor-element-2239b363 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}

.elementor-element.elementor-element-2239b363 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-element.elementor-element-2239b363 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-element.elementor-element-6ab4c68b .elementor-heading-title {
  color: #61B5E5;
  font-family: "Karla", Sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.elementor-element.elementor-element-15c8dfb6 .elementor-heading-title {
  color: #00216A;
  font-family: "Rubik", Sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

.elementor-element.elementor-element-6a89b6cf {
  color: #333333;
  font-family: "Karla", Sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.elementor-element.elementor-element-34a3b350 > .elementor-container > .elementor-column > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}

.elementor-element.elementor-element-34a3b350 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 80px;
  margin-bottom: 0px;
}

.elementor-element.elementor-element-34a3b350 > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-element.elementor-element-5bb9478e .elementor-heading-title {
  color: #61B5E5;
  font-family: "Karla", Sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.elementor-element.elementor-element-243e25ef .elementor-heading-title {
  color: #00216A;
  font-family: "Rubik", Sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

.elementor-element.elementor-element-2d03d7e4 {
  color: #333333;
  font-family: "Karla", Sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.elementor-element.elementor-element-25b58de8 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(5px/2);
}

.elementor-element.elementor-element-25b58de8 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(5px/2);
}

.elementor-element.elementor-element-25b58de8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
  margin-right: calc(5px/2);
  margin-left: calc(5px/2);
}

.elementor-element.elementor-element-25b58de8 .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-5px/2);
  margin-left: calc(-5px/2);
}

body.rtl .elementor-element.elementor-element-25b58de8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  left: calc(-5px/2);
}

body:not(.rtl) .elementor-element.elementor-element-25b58de8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
  right: calc(-5px/2);
}

.elementor-element.elementor-element-25b58de8 .elementor-icon-list-icon i {
  color: #61B5E5;
  transition: color 0.3s;
}

.elementor-element.elementor-element-25b58de8 .elementor-icon-list-icon svg {
  fill: #61B5E5;
  transition: fill 0.3s;
}

.elementor-element.elementor-element-25b58de8 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}

.elementor-element.elementor-element-25b58de8 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-element.elementor-element-25b58de8 .elementor-icon-list-item > a {
  font-family: "Karla", Sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.elementor-element.elementor-element-25b58de8 .elementor-icon-list-text {
  color: #333333;
  transition: color 0.3s;
}

.elementor-element.elementor-element-4823ca88 .elementor-button {
  font-family: "Rubik", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: none;
  line-height: 24px;
  letter-spacing: 0px;
  fill: #00216A;
  color: #00216A;
  background-color: #F9B5C4;
  border-radius: 5px 5px 5px 5px;
  padding: 11px 27px 11px 27px;
}

.elementor-element.elementor-element-4823ca88 .elementor-button:hover, .elementor-element.elementor-element-4823ca88 .elementor-button:focus {
  color: #F9B5C4;
  background-color: #00216A;
}

.elementor-element.elementor-element-4823ca88 .elementor-button:hover svg, .elementor-element.elementor-element-4823ca88 .elementor-button:focus svg {
  fill: #F9B5C4;
}

.elementor-element.elementor-element-7271241f .elementor-wrapper {
  --video-aspect-ratio: 1.77777;
}

.elementor-element.elementor-element-25baa288 {
  text-align: center;
  color: #333333;
  font-family: "Karla", Sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 22px;
}

.elementor-element.elementor-element-4860674d:not(.elementor-motion-effects-element-type-background), .elementor-element.elementor-element-4860674d > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #F4F4F4;
}

.elementor-element.elementor-element-4860674d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0px 100px 0px;
}

.elementor-element.elementor-element-4860674d > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-element.elementor-element-1505b73a img {
  max-width: 50px;
}

.elementor-element.elementor-element-2750e6d8 {
  text-align: center;
}

.elementor-element.elementor-element-2750e6d8 .elementor-heading-title {
  color: #00216A;
  font-family: "Karla", Sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.elementor-element.elementor-element-1536fd74 {
  text-align: center;
  color: #333333;
  font-family: "Karla", Sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.elementor-element.elementor-element-2a5436f .elementor-button {
  font-family: "Rubik", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: none;
  line-height: 24px;
  letter-spacing: 0px;
  fill: #FFFFFF;
  color: #FFFFFF;
  background-color: #61B5E5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1607843137254902);
  padding: 11px 26px 11px 26px;
}

.elementor-element.elementor-element-2a5436f .elementor-button:hover, .elementor-element.elementor-element-2a5436f .elementor-button:focus {
  color: #FFFFFF;
  background-color: #00216A;
}

.elementor-element.elementor-element-2a5436f .elementor-button:hover svg, .elementor-element.elementor-element-2a5436f .elementor-button:focus svg {
  fill: #FFFFFF;
}

.elementor-element.elementor-element-4ccde262 img {
  max-height: 50px;
  max-width: 50px;
}

.elementor-element.elementor-element-6368c46a {
  text-align: center;
}

.elementor-element.elementor-element-6368c46a .elementor-heading-title {
  color: #00216A;
  font-family: "Karla", Sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.elementor-element.elementor-element-34178ee5 {
  text-align: center;
  color: #333333;
  font-family: "Karla", Sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.elementor-element.elementor-element-6c578d13 .elementor-button {
  font-family: "Rubik", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: none;
  line-height: 24px;
  letter-spacing: 0px;
  fill: #FFFFFF;
  color: #FFFFFF;
  background-color: #61B5E5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1607843137254902);
  padding: 11px 25px 11px 25px;
}

.elementor-element.elementor-element-6c578d13 .elementor-button:hover, .elementor-element.elementor-element-6c578d13 .elementor-button:focus {
  color: #FFFFFF;
  background-color: #00216A;
}

.elementor-element.elementor-element-6c578d13 .elementor-button:hover svg, .elementor-element.elementor-element-6c578d13 .elementor-button:focus svg {
  fill: #FFFFFF;
}

.elementor-element.elementor-element-62fd4b6c img {
  max-width: 37px;
}

.elementor-element.elementor-element-407a86f5 {
  text-align: center;
}

.elementor-element.elementor-element-407a86f5 .elementor-heading-title {
  color: #00216A;
  font-family: "Karla", Sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.elementor-element.elementor-element-55585133 {
  text-align: center;
  color: #333333;
  font-family: "Karla", Sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.elementor-element.elementor-element-72d24fa .elementor-button {
  font-family: "Rubik", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: none;
  line-height: 24px;
  letter-spacing: 0px;
  fill: #FFFFFF;
  color: #FFFFFF;
  background-color: #61B5E5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1607843137254902);
  padding: 11px 20px 11px 20px;
}

.elementor-element.elementor-element-72d24fa .elementor-button:hover, .elementor-element.elementor-element-72d24fa .elementor-button:focus {
  color: #FFFFFF;
  background-color: #00216A;
}

.elementor-element.elementor-element-72d24fa .elementor-button:hover svg, .elementor-element.elementor-element-72d24fa .elementor-button:focus svg {
  fill: #FFFFFF;
}

@media(min-width: 768px) {
  .elementor-element.elementor-element-43c76d9d {
      width:100%;
  }
}

@media(max-width: 1024px) {
  .elementor-element.elementor-element-7e00125d > .elementor-element-populated {
      padding:40px 10px 10px 10px;
  }

  .elementor-element.elementor-element-58f41fc4 > .elementor-element-populated {
      padding: 40px 10px 10px 10px;
  }

  .elementor-element.elementor-element-7a564589.elementor-wc-products ul.products {
      grid-column-gap: 20px;
      grid-row-gap: 40px;
  }

  .elementor-element.elementor-element-24aab386 {
      padding: 20px 0px 20px 0px;
  }
}

@media(max-width: 767px) {
  .elementor-element.elementor-element-7a564589.elementor-wc-products ul.products {
      grid-column-gap:20px;
      grid-row-gap: 40px;
  }

  .elementor-element.elementor-element-34a3b350 {
      margin-top: 20px;
      margin-bottom: 0px;
  }

  .elementor-element.elementor-element-4860674d {
      padding: 30px 0px 30px 0px;
  }

  .elementor-element.elementor-element-123f20e8 > .elementor-element-populated {
      margin: 30px 0px 30px 0px;
      --e-column-margin-right: 0px;
      --e-column-margin-left: 0px;
  }
}

/* Start custom CSS for column, class: .elementor-element-43c76d9d */
.elementor-element.elementor-element-43c76d9d {
  margin: 0 auto;
  max-width: 1440px;
}

/* End custom CSS */

/* Start custom CSS */
.elementor-widget-woocommerce-product-title, .elementor-widget-woocommerce-product-price, .elementor-widget-woocommerce-product-short-description {
  margin-bottom: 0 !important;
}

.product_title.entry-title {
  font-family: 'Rubik', Sans-Serif;
  color: #00216A;
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
}

.single-product-category {
  display: none !important;
}

.elementor-widget-woocommerce-product-add-to-cart, .variations select, .product_meta, .elementor-widget-woocommerce-product-data-tabs {
  font-family: 'Karla', Sans-Serif;
}

.product_meta {
  font-weight: 400;
}

.elementor-widget-woocommerce-product-meta .detail-label {
  font-weight: 500 !important;
}

.elementor-widget-woocommerce-product-meta .detail-label:after {
  content: ":";
}

.woocommerce-product-gallery__image, .woocommerce div.product div.images .flex-control-thumbs li img {
  background-color: #FFFFFF;
}

.woocommerce-product-gallery__image {
  border-radius: 20px;
}

.woocommerce div.product div.images .flex-control-thumbs li img {
  border-radius: 10px;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 .2em;
}

.woocommerce-Price-amount.amount {
  color: #61B5E5;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.woocommerce-product-details__short-description {
  color: #333333;
  font-size: 16px;
  line-height: 22px;
}

.variations select {
  font-size: 16px;
  border-radius: 3px !important;
}

.woocommerce div.product form.cart .variations label {
  color: #00216A;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

.woocommerce-variation-add-to-cart h2 {
  font-family: 'Karla', Sans-Serif;
  color: #00216A;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

.woocommerce form .woocommerce-variation-add-to-cart label, .woocommerce div.product form.cart .reset_variations {
  display: none;
}

.woocommerce div.product form.cart .variations {
  border-bottom: none;
}

.woocommerce-variation-add-to-cart input::placeholder {
  color: #A0A0A0;
  font-size: 16px;
  font-family: 'Karla', Sans-Serif;
}

.woocommerce-variation-add-to-cart input {
  font-size: 16px;
  font-family: 'Karla', Sans-Serif;
  line-height: 22px;
  border-radius: 3px !important;
}

.woocommerce-variation-add-to-cart .fpf-field.fpf-text:nth-child(3) {
  float: left;
  width: 50%;
}

.woocommerce-variation-add-to-cart .fpf-field.fpf-text:nth-child(4) {
  float: right;
  width: 50%;
}

.above-atc-buttons__total-price {
  display: flex;
}

.above-atc-buttons__total-price .total-price__text, .above-atc-buttons__total-price .total-price__price {
  width: 50%;
}

.above-atc-buttons__total-price .total-price__price p {
  text-align: right;
}

.above-atc-buttons__total-price .total-price__price .woocommerce-Price-amount.amount {
  color: #00216A;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.above-atc-buttons__total-price .total-price__text {
  font-family: 'Karla', Sans-Serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #00216A;
  text-transform: uppercase;
}

.woocommerce div.product form.cart .button.single_add_to_cart_button {
  background-color: #F9B5C4;
  border-radius: 5px;
  padding: 17px 60px;
  text-transform: capitalize;
  color: #00216A;
  font-family: "Rubik", Sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.woocommerce .quantity .qty {
  min-height: 58px;
}

.quantity input[type=number] {
  font-size: 20px;
  font-weight: bold;
  color: #00216A;
  line-height: 24px;
  border-radius: 5px;
}

.woocommerce-Tabs-panel h2, .woocommerce div.product .woocommerce-tabs ul.tabs li.active:before {
  display: none;
}

.woocommerce-Tabs-panel p {
  color: #333333;
  font-size: 16px;
  line-height: 22px;
}

.tabs.wc-tabs {
  border-bottom: 2px solid #00216A;
}

.woocommerce div.product.elementor ul.tabs {
  margin-bottom: 1em !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
  margin-right: 60px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
  text-decoration: underline;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  color: #00216A;
  font-size: 24px;
  line-height: 30px;
  text-transform: capitalize;
  padding: .5em 0 !important;
}

.woocommerce div.product.elementor .woocommerce-tabs .panel {
  border: none !important;
  padding: 0 !important;
  margin: 0 0 1.2em !important;
}

.woocommerce #review_form #respond .form-submit input {
  border-radius: 5px;
  background-color: #F9B5C4;
  color: #00216A;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Roboto', Sans-Serif;
}

/* End custom CSS */

/* Gravity Forms */

.gform_wrapper {
font-family: Karla, sans-serif;
}

.gform_anchor {}

/* Validation */

.gform_validation_errors {
  display: none;
}

  .gform_submission_error {}

    .gform_submission_error .gform-icon {}

    .gform_submission_error .gform-icon--close {}

/* Visually hidden content available for screen reader. */

.gform_heading {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

  .gform_required_legend {}

  .gform_required_legend .gfield_required {}

  .gform_required_legend .gfield_required_asterisk {}

.gform_wrapper form {}

  .gform_body {}

    .gform_fields {}

    .gform_fields.top_label {}

    .gform_fields.form_sublabel_below {}

    .gform_fields.description_below {}

      .gfield {
        margin-bottom: 25px;
      }

        .gfield_label {}

        .ginput_container {}

          .ginput_container input {
            width: 100%;
            max-width: 100%;
            color: #333333;
            background-color: #f4f4f4 !important;
            border-color: #ffffff !important;
            border-radius: 3px !important;
          }

          .ginput_container input::placeholder {
            color: inherit;
            opacity: 0.6;
          }

          .ginput_container input[type="text"] {}

          .ginput_container input[type="email"] {}

          .ginput_container input[type="tel"] {}

          /* Radio Button Group */

          .ginput_container .gfield_radio {}

            .ginput_container .gchoice {
              margin-bottom: 9px;
            }

            .ginput_container .gchoice:last-of-type {
              margin-bottom: 0;
            }

              .ginput_container .gfield_choice_input {}

              .ginput_container .gform-field-label {
                font-size: 16px;
                line-height: 22px;
              }

              .ginput_container .gform-field-label::before {
                background-color: #ffffff !important;
                border-color: rgb(128, 130, 133) !important;
              }

          .ginput_container textarea {
            width: 100%;
            max-width: 100%;
            color: #333333;
            background-color: #f4f4f4 !important;
            border-color: #ffffff !important;
            border-radius: 3px !important;
          }

          .ginput_container textarea::placeholder {
            color: inherit;
            opacity: 0.6;
          }

        /* Validation Message */

        .gfield_description {}

        .gfield_validation_message {}

      /* When field labels are hidden */

      .gfield.hidden_label {}

        /* Visually hidden content available for screen reader. */

        .gfield.hidden_label .gfield_label {
          position: absolute;
          left: -10000px;
          top: auto;
          width: 1px;
          height: 1px;
          overflow: hidden;
        }

      .gfield--type-text {}

      .gfield--type-email {}

      .gfield--type-phone {}

      .gfield--type-radio {
        padding: 0;
        border-color: #ffffff;
      }

      .gfield--type-text-area {}

  .gform_footer {}

  .gform_footer.top_label {}

    .gform_footer .gform_button {
      justify-content: center;
      width: 100% !important;
      padding: 11px 66px !important;
      font-size: 18px !important;
      line-height: 24px;
      font-family: Rubik, sans-serif;
      font-weight: 500;
      color: #00216a;
      background-color: #f9b5c4;
      border-radius: 5px !important;
      transition: all .3s;
    }

    @media (min-width: 768px) {
      .gform_footer .gform_button {
        width: auto !important;
      }
    }

    .gform_footer .gform_button:focus,
    .gform_footer .gform_button:hover {
      background-color: #333333;
    }

/* Password Toggle */

.password-toggle__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.password-toggle__wrap::before,
.password-toggle__wrap::after {
  display: none !important;
}

  .password-toggle__wrap label {}

  .password-toggle__wrap button {
    padding: 0;
    font-size: 0.8125rem;
    line-height: 2;
    font-weight: normal;
    color: rgb(51, 51, 51);
    background-color: transparent;
  }

  .password-toggle__wrap .password-input {
    width: 100%;
  }
